@import "tailwindcss";

@theme {
  --color-primary: #ef394e;
}

body {
  font-family: vazir-regular;
}

@font-face {
  font-family: "vazir-light";
  src: url("/font/vazir/Vazir-Light-FD.woff2");
}
.vazir-light {
  font-family: "vazir-light";
}
@font-face {
  font-family: "vazir-regular";
  src: url("/font/vazir/Vazir-Regular-FD.woff2");
}
.vazir-regular {
  font-family: "vazir-regular";
}
@font-face {
  font-family: "vazir-medium";
  src: url("/font/vazir/Vazir-Medium-FD.woff2");
}
.vazir-medium {
  font-family: "vazir-medium";
}
@font-face {
  font-family: "vazir-bold";
  src: url("/font/vazir/Vazir-Bold-FD.woff2");
}
.vazir-bold {
  font-family: "vazir-bold";
}
@font-face {
  font-family: "vazir-black";
  src: url("/font/vazir/Vazir-Black-FD.woff2");
}
.vazir-black {
  font-family: "vazir-black";
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}
.noScrollbar::-webkit-scrollbar-thumb {
  display: none;
}
.flash-once {
  position: relative;
  overflow: hidden;
}

.flash-once:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: skeleton-flash 0.5s ease-in-out forwards;
}

@keyframes skeleton-flash {
  0% {
    transform: translateX(-100%) skewX(-20deg);
  }
  100% {
    transform: translateX(100%) skewX(-20deg);
  }
}
