@import "tailwindcss";

@theme {
  --color-primary: #bd274c;
}

body {
  font-family: vazir-regular;
}

@font-face {
  font-family: "vazir-light";
  src: url("/font/vazir/Vazir-Light-FD.woff2");
}
.vazir-light {
  font-family: "vazir-light";
}
@font-face {
  font-family: "vazir-regular";
  src: url("/font/vazir/Vazir-Regular-FD.woff2");
}
.vazir-regular {
  font-family: "vazir-regular";
}
@font-face {
  font-family: "vazir-medium";
  src: url("/font/vazir/Vazir-Medium-FD.woff2");
}
.vazir-medium {
  font-family: "vazir-medium";
}
@font-face {
  font-family: "vazir-bold";
  src: url("/font/vazir/Vazir-Bold-FD.woff2");
}
.vazir-bold {
  font-family: "vazir-bold";
}
@font-face {
  font-family: "vazir-black";
  src: url("/font/vazir/Vazir-Black-FD.woff2");
}
.vazir-black {
  font-family: "vazir-black";
}
@font-face {
  font-family: "moraba-regular";
  src: url("/font/moraba/Morabba-Regular.woff2");
}
.moraba-regular {
  font-family: "moraba-regular";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-bold";
  src: url("/font/moraba/Morabba-Bold.woff2");
}
.moraba-bold {
  font-family: "moraba-bold";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-heavy";
  src: url("/font/moraba/Morabba-Heavy.woff2");
}
.moraba-heavy {
  font-family: "moraba-heavy";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}
.noScrollbar::-webkit-scrollbar-thumb {
  display: none;
}
.flash-once {
  position: relative;
  overflow: hidden;
}

.flash-once:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: skeleton-flash 0.5s ease-in-out forwards;
}

@keyframes skeleton-flash {
  0% {
    transform: translateX(-100%) skewX(-20deg);
  }
  100% {
    transform: translateX(100%) skewX(-20deg);
  }
}

/* multiRange slider Style */
.range::-webkit-slider-thumb {
  background-color: var(--color-primary);
  border: none;
  box-shadow: 0px 0px 0px 5px rgba(198, 197, 197, 0.545);
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 1px;
  pointer-events: all;
  position: relative;
  border-radius: 100px;
  z-index: 20;
  transition: all 0.3s;
}
.range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(198, 197, 197, 0.545);
}

/* For Firefox browsers */
.range::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
.range,
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.range {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  z-index: 3;
  background: var(--color-primary);
  height: 2px;
}
